<input type="checkbox" id="checkbox-isRandom">Generate Random Level
<br>
{{> UI/templates/randomseed seed }}
{{> UI/templates/leveltype direction}}
<button id="buttongo">Go</button>
<button id="randomLevel">Random Level</button>